In [1]:
import Preprocessing_2018

Preprocessing_2018.preprocessing_2018()

Downloading data for 2018 1-Year person survey for AL...

,age,workclass,education,marital.status,occupation,relationship,hours.per.week,sex,race,income
1,18,Private,Some-college,Never-married,4720,17,21,Female,Black,False
2,53,Federal-gov,HS-grad,Never-married,3605,16,40,Male,White,False
8,41,Private,HS-grad,Never-married,7330,17,40,Male,White,False
9,18,Self-employed in own not incorporated business...,Some-college,Never-married,2722,17,2,Female,White,False
14,21,Federal-gov,Some-college,Never-married,3870,17,50,Male,White,False
...,...,...,...,...,...,...,...,...,...,...
38775,20,Self-employed in own not incorporated business...,Some-college,Never-married,4251,4,25,Male,White,False
38779,63,Private,HS-grad,Married,440,0,48,Male,White,True
38782,65,Private,Bachelors,Never-married,420,2,40,Female,White,True
38783,37,Private,HS-grad,Separated,340,0,50,Female,White,False
38784,18,Private,HS-grad,Never-married,4055,2,20,Female,White,False