In [4]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

In [21]:
#Models to use
from sklearn.linear_model import LogisticRegression

## Data

In [12]:

toy_educ = ['HS-grad', 'Doctorate', 'Masters', 'Bachelors', 'Doctorate'] * 2
toy_mar = ['widowed', 'divorced', 'married', 'single', 'married'] * 2 
toy_sex = ['Male', 'Male', 'Male', 'Female', 'Female'] * 2
toy_inc = ['True', 'False', 'True', 'False', 'True'] * 2
toy_data = pd.DataFrame({'education':toy_educ , 'marital.status':toy_mar, 'sex':toy_sex, 'income':toy_inc})
toy_data

   education marital.status     sex income
0    HS-grad        widowed    Male   True
1  Doctorate       divorced    Male  False
2    Masters        married    Male   True
3  Bachelors         single  Female  False
4  Doctorate        married  Female   True
5    HS-grad        widowed    Male   True
6  Doctorate       divorced    Male  False
7    Masters        married    Male   True
8  Bachelors         single  Female  False
9  Doctorate        married  Female   True

In [19]:
DATA = toy_data
train, test = train_test_split(DATA, test_size=0.3)
print(f"Train size: {len(train)}, test size: {len(test)}")

Train size: 7, test size: 3

In [20]:
x_train = train.drop(columns=['income'])
y_train = train['income']

x_test  = test.drop(columns=['income'])
y_test  = test['income']

## Logistic regression

In [17]:
# Your code
logreg = LogisticRegression().fit(x_train, y_train)

y_pred= list(logreg.predict(x_test))

logreg_results = test.copy() #get all the data of the test set
logreg_results = logreg_results.filter(items=['sex', 'race', 'two_year_recid']) #keep only relevant info
logreg_results['y_pred'] = y_pred

   education marital.status     sex income
1  Doctorate       divorced    Male  False
7    Masters        married    Male   True
8  Bachelors         single  Female  False
2    Masters        married    Male   True
5    HS-grad        widowed    Male   True
0    HS-grad        widowed    Male   True
3  Bachelors         single  Female  False