In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
#Models to use
from sklearn.linear_model import LogisticRegression

# Data

In [3]:

toy_educ = ['HS-grad', 'Doctorate', 'Masters', 'Bachelors', 'Doctorate'] * 2
toy_mar = ['widowed', 'divorced', 'married', 'single', 'married'] * 2 
toy_sex = ['Male', 'Male', 'Male', 'Female', 'Female'] * 2
toy_inc = [1, 0, 1, 0, 1] * 2
toy_educ_num = [3,4,7,2, 3,2,1,5,2,2]
toy_data = pd.DataFrame({'education':toy_educ , 'marital.status':toy_mar, 'sex':toy_sex, 'income':toy_inc, 'education.num':toy_educ_num})
toy_data

   education marital.status     sex  income  education.num
0    HS-grad        widowed    Male       1              3
1  Doctorate       divorced    Male       0              4
2    Masters        married    Male       1              7
3  Bachelors         single  Female       0              2
4  Doctorate        married  Female       1              3
5    HS-grad        widowed    Male       1              2
6  Doctorate       divorced    Male       0              1
7    Masters        married    Male       1              5
8  Bachelors         single  Female       0              2
9  Doctorate        married  Female       1              2

In [4]:
DATA = toy_data
FEAT_OF_INT = ['education', 'marital.status', 'sex', 'income'] #The features we are interested in

## Encoder for categorical values

In [5]:
from sklearn.preprocessing import OneHotEncoder
cat_feats = list(DATA.select_dtypes("object").keys())  #names of all categorical features
# cat_feats.remove('income') #keep these values as is 
print(f"{len(cat_feats)} categorical features found: {cat_feats}")

cat_feat_encoder = OneHotEncoder(sparse_output=False, drop='if_binary').set_output(transform="pandas")
cat_feat_encoder = cat_feat_encoder.fit(DATA[cat_feats])

3 categorical features found: ['education', 'marital.status', 'sex']

## Split train and test

In [6]:
train, test = train_test_split(DATA, test_size=0.3)
print(f"Train size: {len(train)}, test size: {len(test)}")

Train size: 7, test size: 3

In [7]:
train

   education marital.status     sex  income  education.num
6  Doctorate       divorced    Male       0              1
5    HS-grad        widowed    Male       1              2
7    Masters        married    Male       1              5
4  Doctorate        married  Female       1              3
8  Bachelors         single  Female       0              2
2    Masters        married    Male       1              7
0    HS-grad        widowed    Male       1              3

In [8]:
x_train = train.drop(columns=['income'])
y_train = train['income']

x_test  = test.drop(columns=['income'])
y_test  = test['income']

In [9]:
from data_transform import cat_to_one_hot
x_train_encoded = cat_to_one_hot(x_train, cat_feats, cat_feat_encoder)
x_test_encoded = cat_to_one_hot(x_test, cat_feats, cat_feat_encoder)

# Logistic regression

In [10]:
# Your code
logreg = LogisticRegression().fit(x_train_encoded, y_train)

y_pred= list(logreg.predict(x_test_encoded))

logreg_results = test.copy() #get all the data of the test set

logreg_results = logreg_results.filter(items=FEAT_OF_INT) #keep only relevant info
logreg_results['y_pred'] = y_pred
logreg_results

   education marital.status     sex  income  y_pred
3  Bachelors         single  Female       0       0
1  Doctorate       divorced    Male       0       1
9  Doctorate        married  Female       1       1