In [3]:
import pandas as pd

In [10]:
old_data = pd.read_csv('adult.csv')

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [14]:
print(old_data)

       age workclass  fnlwgt     education  education.num      marital.status  \
0       90         ?   77053       HS-grad              9             Widowed
1       82   Private  132870       HS-grad              9             Widowed
2       66         ?  186061  Some-college             10             Widowed
3       54   Private  140359       7th-8th              4            Divorced
4       41   Private  264663  Some-college             10           Separated
...    ...       ...     ...           ...            ...                 ...
32556   22   Private  310152  Some-college             10       Never-married
32557   27   Private  257302    Assoc-acdm             12  Married-civ-spouse
32558   40   Private  154374       HS-grad              9  Married-civ-spouse
32559   58   Private  151910       HS-grad              9             Widowed
32560   22   Private  201490       HS-grad              9       Never-married

              occupation   relationship   race     sex  capital.gain  \
0                      ?  Not-in-family  White  Female             0
1        Exec-managerial  Not-in-family  White  Female             0
2                      ?      Unmarried  Black  Female             0
3      Machine-op-inspct      Unmarried  White  Female             0
4         Prof-specialty      Own-child  White  Female             0
...                  ...            ...    ...     ...           ...
32556    Protective-serv  Not-in-family  White    Male             0
32557       Tech-support           Wife  White  Female             0
32558  Machine-op-inspct        Husband  White    Male             0
32559       Adm-clerical      Unmarried  White  Female             0
32560       Adm-clerical      Own-child  White    Male             0

       capital.loss  hours.per.week native.country income
0              4356              40  United-States  <=50K
1              4356              18  United-States  <=50K
2              4356              40  United-States  <=50K
3              3900              40  United-States  <=50K
4              3900              40  United-States  <=50K
...             ...             ...            ...    ...
32556             0              40  United-States  <=50K
32557             0              38  United-States  <=50K
32558             0              40  United-States   >50K
32559             0              40  United-States  <=50K
32560             0              20  United-States  <=50K

[32561 rows x 15 columns]

In [45]:
#removes any rows that contain a '?', maybe do this after selecting the right columns to prevent unnecessary deleting. 
mask = old_data.applymap(lambda x: '?' in str(x))

old_data_clean = old_data[~mask.any(axis=1)]

#print(old_data)
print(old_data_clean.head())

   age workclass  fnlwgt     education  education.num marital.status  \
1   82   Private  132870       HS-grad              9        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated
5   34   Private  216864       HS-grad              9       Divorced
6   38   Private  150601          10th              6      Separated

          occupation   relationship   race     sex  capital.gain  \
1    Exec-managerial  Not-in-family  White  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0
5      Other-service      Unmarried  White  Female             0
6       Adm-clerical      Unmarried  White    Male             0

   capital.loss  hours.per.week native.country income
1          4356              18  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K
5          3770              45  United-States  <=50K
6          3770              40  United-States  <=50K

In [42]:
number_rows = old_data_clean.shape[0]

od_sex = old_data['sex'].value_counts()
od_percentage_woman = (od_sex[1]/(od_sex[0]+od_sex[1]))*100
print(f'Percentage women before cleaning: {od_percentage_woman:.2f}%')

odc_sex = old_data_clean['sex'].value_counts()
odc_percentage_woman = (odc_sex[1]/number_rows)*100
print(f'Percentage women after cleaning: {odc_percentage_woman:.2f}%')
#print(old_data_clean['sex'].value_counts())

Percentage women before cleaning: 33.08%
Percentage women after cleaning: 32.43%

In [54]:
print(old_data_clean['race'].value_counts())
odc_race = old_data_clean['race'].value_counts()
odc_percentage_black = (odc_race[1]/number_rows)*100

race_income = old_data_clean[['race','income']].value_counts()
high_income_white = 100 * race_income[1]/odc_race[0]
high_income_black = 100 * race_income[4]/odc_race[1]

#print(old_data_clean[['race','income']].value_counts())

print(f'Percentage black people: {odc_percentage_black:.2f}%')
print(f'Percentage high income white people: {high_income_white:.2f}%')
print(f'Percentage high income black people: {high_income_black:.2f}%')
print(old_data_clean['hours.per.week'].mean())

White                 25933
Black                  2817
Asian-Pac-Islander      895
Amer-Indian-Eskimo      286
Other                   231
Name: race, dtype: int64
Percentage black people: 9.34%
Percentage high income white people: 26.37%
Percentage high income black people: 12.99%
40.93123798156621